@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
color: gray;
background-image: url(/img/img-backgrounds/GDA-background1-reduced.webp);
background-position: center center;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
zoom: 90%;
}
.bio{
  background-color: black; 
  max-width: 700px;
  height: 60vw;
  top: 60px;
 position: relative;
  left: 100px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  font-style: normal;
  line-height: 35px;
  text-align: justify;
  margin-top: 1rem  ;
}
.logo-noir-img{
width: 250px;
height: 200px;
display: inline-block;
object-fit: cover;
position: absolute;
bottom: 15px;
right: 50px;}

.sujet-img{
max-width: 600px; 
max-height: 600px;
object-fit: cover;
position: absolute;
bottom: -20px; 
right: 40px; 
}
.video-container{
min-width: 700px; 
height: 600px; 
background-color:black;
position: relative;
left: 40px;
top: 80px;
}
.edp-img1{
position: absolute; 
top: 20px;
left: 20px;
object-fit: cover;
max-width: 660px;
border: solid;
border-color: white;
border-width: 1px; 
}

.sensaspop-div{
width: 200px;
padding-right:15px;
}
.sensaspop-title{
margin-bottom: 30px; 
color: black;

}


.home{
  display: none;
}

.un-mec-crazy-div{
width: 200px;
padding-right: 27px;
margin-right: 10px;
}
.un-mec-crazy-img{
min-width: 200px;
height: 110px;
object-fit: cover;
margin-left: 15px;
margin-top: 10px;
}

.vid-prev-title-crazy{
margin-bottom: 30px;
width: 190px;
left: 20px;
margin-left:15px;
color: black;
}
.sensaspop-img{
min-width: 200px; 
height: 110px;
object-fit: cover;
margin-top: 10px;
padding-right: 30px;
}

.div-rnroll{
width: 200px;  
padding-right:20px;
}

.img-rnroll{
margin-top: 10px;
min-width: 200px;
height: 110px;
object-fit: cover; 
}
.prev-title-rnroll{
margin-bottom: 50px;
color: black; 
}

.previews{
position: absolute;
display: flex;
bottom: 20px;
width: 662px;
flex-direction: row;
background-color: white;
height:190px;
left: 20px;
column-gap: 20px;
}
.div-video{
position: absolute; 
left: 100px; 
color: black; 
font-weight: bold;
background-color: greenyellow;

}


.edp-div2{
  display: none;
}

#main-section img{

position: absolute;
top: 20px; 
left: 20px;
object-fit: cover;
max-width: 460px;;
border: solid; 
border-color: white; border-width: 1px; 
}
#main-section{
width: 500px;
height: 500px;
background-color:black;
position: relative;
left: 10px; 
top: 60px;
}

.nav {
  position: fixed;
  top: 0;
  font-size: 1.5rem;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.nav-links {
  display: flex;
  align-items: center;
  column-gap: 20px;
  list-style: none;
}
.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}
.nav img{
position: absolute;
left: 1rem;
width: 3rem;
height: 3rem;
border-radius: 50%;
top: 5px;
}
/* --------------------------------------- */


.home:hover, .videos:hover, .merch:hover, .contact:hover, .music:hover{
  color: rgb(113, 158,206);
  border: 2px solid #000;}
  
.nav {
justify-content: space-between;
}
a {
color: gray;
text-decoration: none;
}

.nav .nav-links {
column-gap: 20px;
list-style: none;


}
.nav .nav-links a {
transition: all 0.2s linear;


font-family: Arial, Helvetica, sans-serif;

}
.nav.openSearch .nav-links a {
opacity: 0;
z-index: 2;
pointer-events: none;
}




.nav .navOpenBtn,
.nav .navCloseBtn {
display: none;

}

main{
margin-right: 30px;
display: flex;
position: relative;
right: 0;
}

.soupe-pic{
position: fixed;
max-width: 578px; 
max-height: 660px; 
object-fit: cover; 
right: -20px; 
top: 100px;
right: 10px; 
}


.sujet-img  {
max-width: 600px; 
max-height: 600px; 
object-fit: cover; 
position: fixed;
bottom: 0;
right:  0px;
}



.spotify-iframe iframe{
  border-radius: 12px;
  margin: 1rem 0;
  
}

iframe:nth-child(1){
  margin-top: 6rem;
}
.deezer{
position: absolute;
right: 112px; 
top: 306px;
}
.fb{
position: absolute;
right: 185px;
top: 578px;

}
.spotify{
position: absolute;
right: 19.7rem;
top: 248px;

}
.youtube{
position: absolute; 
right: 24.3rem;
top: 522px;

}
span a{
color: white; 
font-style: normal;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px; 
text-align: center;
max-width: 300px;
background-color: black;
position: absolute;
top: 200px; 
left: 300px;
padding-left: 16px;
padding-right: 16px;
padding-top: 12px; 
padding-bottom: 12px; 
transition: opacity 0.3s;
}
.deezer:hover, .fb:hover, .spotify:hover, .youtube:hover{
opacity: 0.7;
margin-right: 1px;
margin-bottom: 0.5px;

}
.deezer, .fb, .spotify, .youtube{
transition: opacity 0.4s;
}


.mailto:hover{
opacity: 0.6;
cursor: pointer;
}




#videos-iframe{
  display: none
}



/* responsive : c'est ca l ecran menu animé noir*/
@media screen and (max-width: 1160px) {


.sujet-img{
  display: none;
}

span{
display: none;
}

.soupe-pic{

top: 100px;
left: 10px; 
position: fixed;
width: 100%; 
height: auto;
  object-fit: cover; 
  top: 100px;
  right: 10px; 
  
}
.deezer{
position: absolute;
left: 25.6rem; 
top: 19rem;
}
.fb{
position: absolute;
left: 21.1rem;
top: 36.1rem;
}
.spotify{
position: absolute;
left: 12.8rem;
top: 15.7rem;
}
.youtube{
position: absolute; 
left: 8.25rem;
top: 32.7rem;
}

}




@media screen and (max-width: 640px) {
.nav .navOpenBtn,
.nav .navCloseBtn {
display: block;

}

.bio{
  background-color: #000000; 
  width: 90%;
  height: 1000px;
  position: relative;
  top: 40px;
  left: 15px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 35px;
  text-align: justify;
  margin: 2rem 0 0 0rem;
}


.deezer{
  position: absolute;
  width: 35px;
  height: 35px;
  left: 16.6rem; 
  top: 14.5rem;
  }
  .fb{
    width: 35px;
    height: 35px;
  position: absolute;
  left: 13.7rem;
  top: 25.7rem;
  }
  .spotify{
    width: 35px;
    height: 35px;
  position: absolute;
  left: 8.3rem;
  top: 12.0rem;
  }
  .youtube{
    width: 35px;
    height: 35px;
  position: absolute; 
  left: 5.5rem;
  top: 23.3rem;
  }
.edp-div2{
  display: block;
}
.video-container img{
  width: 200px;
}
.previews{
  display: grid;
  grid-template-columns: 1fr;
} 


.nav {
  padding: 10px 20px;
}
.home{
display: block;
}
.nav img{
  display: none;
  }

.nav .nav-links {
position: fixed;
top: 0;
left: -100%;
z-index: 2;
height: 100%;
max-width: 280px;
width: 50%;
padding-top: 100px;
row-gap: 30px;
flex-direction: column;
background-color: #11101d;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
transition: all 0.4s ease;
}
.nav.openNav .nav-links {
left: 0;
}
/* ca c est le ptit logo burger pour ouvrir le menu noir!! */
.nav .navOpenBtn {
color: black;
font-size: 32px;
cursor: pointer;
}
/* ca c est la croix de fermeture */
.nav .navCloseBtn {
position: absolute;
top: 20px;
right: 20px;
color: #fff;
font-size: 20px;
cursor: pointer;
z-index: 1;
} 


#videos{
  background-image: none;

}

.video-container{
display: none;}

#videos-iframe{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

iframe{
margin: 1rem;

}
iframe:nth-child(1){
  margin-top: 5rem;
  
  }

  
.spotify-iframe{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  }

}
